body
{
	margin:0;
	min-margin:200
	padding:0;
	box-sizing: border-box;
	list-style:none;
	text-decoration:none;
	font-family:'Josefin Sans', sans-serif;
	background-color: black;
	width:auto;
	background: linear-gradient(to right, black, #362d2d);
}

header 
{
	background-color: #0091ff;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -20px;
	margin-bottom: 20px;
	border-radius: 30px;
}

#top_message 
{
	background-color:  #00cc00;
}

h1 
{ 
	color: #111; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 40px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center; 
}

h2 
{
	color: white;
}

p
{
	margin-left: 20px;
	color: white;
}

footer
{
	background-color: #2d2d2d;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
}

a
{
	color: #ffe700;
}

a:hover
{
	color: red;
}

textarea
{
	margin-left: 100px;
}

button
{
	height: 20px;
	width: 40px;
	margin-top: 5px;
}