<!DOCTYPE html>
<html>
<head>
	<title>GrandPy-Bot.com</title>
	<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">
	<header>
		<h1><img src="static/images/gpbot.png" height="150 px">Demandez à GrandPY-Bot</h1>
		<p>
			Grand-py va vous demander ce que vous voulez savoir</br>
			À vous de lui donner les informations nécessaires!</br>
		</p>
	</header>
</head>
<body>
	<p id="text_output">
	</p>
	<div>
		<input type="text" id="text_input" placeholder="Votre Question" size="50">
		<button id="button" value="Entrer"></button>
	</div>
	<script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
<footer>
	<h2>Contact</h2>
	<ul>
		<li>Nom: Salman Ihsan</li>
		<li><a href="https://github.com/ihsan-salman">github</a></li>
		<li>Adresse-mail: <a href="mailto:ihsan.salmantr@gmail.com">ihsan.salmantr@gmail.com</a></li>
		<li><a href="https://twitter.com/alp_sahih">Twitter</a></li>
	</ul>
</footer>
</html>