<!DOCTYPE html>
<html>
<head>
	<title>GrandPy-Bot.com</title>
	<link href="static/css/index.css" rel="stylesheet" type="text/css">
	<header>
		<h1>Demandez à GrandPY-Bot</h1>
		<img src="static/images/gpbot.png">
	</header>
</head>
<body>
	<script>
		let d = new Date():
		alert("today's date is " + d);
	</script>
</body>
<footer>
	<h2>Comment discuter avec GrandPy-Bot</h2>
	<p>
		Grand-py va vous demander ce que vous voulez savoir</br>
		À vous de lui donner les informations nécessaires!</br>

	</p>
</footer>
</html>