<!DOCTYPE html>
<html>
<head>
	<title>GrandPy-Bot.com</title>
	<link rel="shortcut icon" href="#">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
	<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">
	<header>
		<div class="top">
			<h1><img src="static/images/gpbot.png" height="150 px">Demandez à GrandPY-Bot</h1>
		</div>
	</header>
	<p id="top_message">
			Grand-py va vous demander ce que vous voulez savoir.</br>
			À vous de lui donner les informations nécessaires!</br>
	</p>
</head>
<body>
	<div id="discussion">
		<p id="answer" name="gngn">Lorem</i></p>
	</div>
		<form id="form">
			<input type="text" id="text_input" name="text_input" placeholder="Votre Question" size="50">
			<button id="button" value="valider"></button>
		</form>
	<script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
<footer>
	<h2>Contact</h2>
	<p id="name">Salman Ihsan</p>
	<ul>
		<li><a href="https://github.com/ihsan-salman"><img src="static/images/github.png"></a></li>
		<li><a href="mailto:ihsan.salmantr@gmail.com"><img src="static/images/mail.png" width="32px"></a></li>
		<li><a href="https://twitter.com/alp_sahih"><img src="static/images/twitter.png" width="32px"></a></li>
	</ul>
</footer>
</html>